{% extends 'web_interface/base.html' %} {% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <div class="card shadow p-4">
      <h3>Reset Password</h3>
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label>Email Address</label>
          <input type="email" name="email" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-warning w-100">
          Send Reset Link
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
